@charset "utf-8";
/* CSS Document */

html, body{
    width: 100%;
    height: 100%;
}

#bg-image{
    position: fixed;
    border: 2 solid thick;
    background: url(../images/rula-sibai-2387-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -2;
    top:0;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
}

.jumbotron {
    position: relative;
    z-index: 2;      
}
#me {
    top:0;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari 3-8 */
    transform: rotate(5deg);
}