@charset "utf-8";
/* CSS Document */

/*Fonts*/
@import url("https://use.typekit.net/yme8pob.css");
/*also "halyard-display"; "freight-micro-pro;*/

/*General*/
body {
    font-family: "acumin-pro";
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    font-weight: 800;
}

hr {
    display: block;
    margin: 3em auto;
    border-style:solid;
    border-width: 1px;
    color: #332024;
}

.row {
    position: relative;
    z-index: 2;
}

/*Navbar Items*/
.navbar-brand {
    padding: 0;
    width: 50px;
}

.fas {
    font-size: .75em;
}

/*Page Header Images*/
.bgImg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 576px) {
    .bgImg{
    background-attachment:scroll;    
    }
}

.myIndexBgImg {
    background-image: url(../images/Backgrounds/patrick-tomasso-151382-unsplash.jpg);
    background-position:top;
    height: 45em;
}

.myWorkBgImg {
    background-image: url(../images/Backgrounds/annie-spratt-40195-unsplash.jpg);
    background-position:top;
}

.aboutMeBgImg {
    background-image: url(../images/Backgrounds/wes-hicks-453773-unsplash.jpg);
    background-position:center;
}

.contactMeBgImg {
    background-image: url(../images/Backgrounds/patrick-tomasso-151382-unsplash.jpg);
    background-position:bottom;
}

/*Index Page*/


.jumbotron {
    position: relative;
    z-index: 2;
    background-color: rgba(13,6,6,0.75);
}

#meIndex {
    position:relative;
    float: right;
    display: block;
    width: 18%;
    z-index: 2;
}

/*About Me Page*/
.meGroup {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgShadow {
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.me {
    position: absolute;
    width: 200px;
    height: auto;
}

.xWhith {
    width: 300px;
}

.tform-5 {
    -ms-transform: rotate(5deg);  /*IE 9*/ 
    -webkit-transform: rotate(5deg);  /*Safari 3-8*/ 
    transform: rotate(5deg);
}

.tform-15 {
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari 3-8 */
    transform: rotate(15deg);
}

.tform-25 {
    -ms-transform: rotate(-25deg);  /*IE 9 */
    -webkit-transform: rotate(-25deg);  /*Safari 3-8*/ 
    transform: rotate(-25deg);
}

#bg-wood{
    background:url(../images/Backgrounds/TextureBG.png);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000;
    width: 100%;
    height: 600px;
}

#bg-wood h4 {
    position: relative;
    color: white;
    text-shadow:  2px 2px 2px #000;
    z-index: 10;
}
.paperBG {
    position: relative;
    bottom: 80px;
    background:#fff;
    width: 35%;
    height: 90%;
    padding: 25px 15px;
    box-shadow: 1px 1px 8px 1px #555;
}
.indexHeaderText {
    position: relative;
    color: #FFF;
    text-align: center;
    top:3em;
    padding: 1em 0;
    text-shadow: 1px 1px 1px #000;
}

.indexHeaderText h1 {
    font-size: 3em;
}

.indexHeaderText h3 {
    font-size: 2em;
    position: relative;
}
.blockquote {
    padding: 5em 0;
}
